<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width"/>

    <title>altrui.st: tech volunteer clearinghouse</title>
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="/stylesheets/lib/normalize.css"/>
    <link rel="stylesheet" href="/stylesheets/lib/foundation.min.css"/>
    <link rel="stylesheet" href="/stylesheets/lib/general_foundicons.css"/>
    <link rel="stylesheet" href="/stylesheets/lib/ladda-themeless.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <% if (development) { %>
    <script src="/javascripts/dist/<%= name %>-<%= version %>.js"></script>
    <% } else { %>
    <script src="/javascripts/dist/<%= name %>-<%= version %>.min.js"></script>
    <% } %>

    <script type="text/javascript">
        window.schemaFiles = <%-schemaFiles%>;
    </script>

    <% if (user) { %>
    <script type="text/javascript">
            angular.module('zoltar').value('currentUser', <%-user %>);
    </script>
    <% } else { %>
    <script type="text/javascript">
            angular.module('zoltar').value('currentUser', null);
    </script>
    <% } %>
</head>
<body ng-controller="ZoltarCtrl">

<script type="text/ng-template" id="header">

    <div class="row" ng-show="user">
        <div>logged in as {{ user.username }}</div>
    </div>
    <div class="row" ng-controller="NavCtrl">
        <div class="large-3 columns">
            <h1>altrui.st</h1>
        </div>
        <div class="large-9 columns">
            <ul class="button-group right">
                <li ng-show="!user"><a data-reveal-id="login" class="button">Login</a></li>
                <li ng-show="user"><a class="button" ng-click="logout()">Logout</a></li>
                <li ng-show="user.admin && path() !== '/admin'">
                    <a class="button" href="/admin">Admin</a>
                </li>
                <li ng-show="path() === '/admin'">
                    <a class="button" href="/">Main</a>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="footer">

    <!-- Footer -->

    <footer class="row">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-6 columns">
                    <p>&copy; Copyright no one at all. Go to town.</p>
                </div>
                <div class="large-6 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</script>

<script type="text/ng-template" id="main">
    <div class="row">
        <hr>
        <div class="large-12 columns wire-one">
            Matching tech talent with great volunteer opportunities.
        </div>
    </div>
    <!-- Second Band (Image Left with Text) -->

    <div class="row">
        <hr>
        <div class="large-4 columns">
            <img src="http://placehold.it/400x300&text=[img]">
        </div>
        <div class="large-8 columns">
            <h4>This is a content section.</h4>

            <div class="row">
                <div class="large-6 columns">
                    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.
                        Aute in
                        reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs
                        reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
                </div>
                <div class="large-6 columns">
                    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball
                        irure
                        bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola
                        enim
                        jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Third Band (Image Right with Text) -->

    <div class="row">
        <div class="large-8 columns">
            <h4>This is a content section.</h4>

            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
                reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs
                reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>

            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon
                nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl.
                Capicola
                short ribs minim salami nulla nostrud pastrami.</p>

        </div>
        <div class="large-4 columns">
            <img src="http://placehold.it/400x300&text=[img]">
        </div>
    </div>
</script>

<ng-include src="'header'" ng-controller="HeaderCtrl"></ng-include>
<ng-view></ng-view>
<ng-include src="'footer'"></ng-include>

<reveal id="login" class="small" ng-cloak>
    <h2>Login</h2>

    <form name="loginForm" ng-controller="LoginCtrl">
        <div class="row">
            <div class="large-6 columns">
                <label for="username">Username:</label>
            </div>
            <div class="large-6 columns">
                <input type="text" tabindex="1" ng-required="true" ng-model="credentials.username" id="username"/>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label for="password">Password:</label>
            </div>
            <div class="large-6 columns">
                <input type="password" tabindex="2" ng-required="true" ng-model="credentials.password" id="password"/>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <a ng-click="forgot()">Forgot?</a>
            </div>
            <div class="large-6 columns">
                <ladda-button ladda="loginProgress" tabindex="3"
                              ng-class="{disabled: !credentials.username || !credentials.password}"
                              ng-click="login()">Login
                </ladda-button>

            </div>
        </div>
        <div class="row">
            <div class="alert-box radius alert" ng-show="failedLogin"
                 ng-animate="{show: 'fade-show', hide: 'fade-hide'}">
                Invalid username or password.
            </div>
        </div>
    </form>
</reveal>

<script type="text/ng-template" id="ladda">
    <button data-spinner-size="30" class="button ladda-button" style="overflow: visible;" data-style="zoom-in"><span class="ladda-label" ng-transclude></span></button>

</script>
</body>
</html>
