<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width"/>

  <title>technicaltruist: tech volunteer clearinghouse</title>
  <link href='http://fonts.googleapis.com/css?family=Wire+One'
        rel='stylesheet' type='text/css'/>

  <% if (development) { %>
  <% for (var i = 0; i < jsFiles.length; i++) { %>
  <script type="text/javascript" src="/<%= jsFiles[i] %>"></script>
  <% } %>
  <% for (var i = 0; i < cssFiles.length; i++) { %>
  <link href="/<%= cssFiles[i] %>" rel="stylesheet"/>
  <% } %>
  <% } else { %>
  <link href="/stylesheets/dist/zoltar.min.css" rel="stylesheet"/>
  <script src="/javascripts/dist/<%= name %>-<%= version %>.min.js"></script>
  <% } %>
  <% if (user) { %>
  <script type="text/javascript">
    angular.module('zoltar').value('currentUser', <%-user %>);
  </script>
  <% } else { %>
  <script type="text/javascript">
    angular.module('zoltar').value('currentUser', null);
  </script>
  <% } %>
</head>
<body ng-controller="ZoltarCtrl">

<script type="text/ng-template" id="header">
  <nav class="navbar navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand">technicaltruist</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li ng-show="user.admin && path() !== '/admin'">
        <a href="/admin">Admin</a>
      </li>
      <li ng-show="path() === '/admin'">
        <a href="/">Main</a>
      </li>
      <li ng-show="!user">
        <a ng-click="openLoginDialog()">Login</a>
      </li>
      <li ng-show="user">
        <a ng-click="logout()">Logout</a>
      </li>
    </ul>

  </nav>

</script>

<script type="text/ng-template" id="footer">

  <!-- Footer -->

  <footer class="row-fluid">
    <div class="span12">
      <hr/>
      <div class="row-fluid">
        <div class="large-50">
          <p>&copy; Copyright 2013 <a href="http://badwing.com"
                                      target="_blank">Christopher
            Hiller.</a> All
            rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

</script>

<script type="text/ng-template" id="main">

  <hr>
  <div class="jumbotron">
    <h1 class="wire-one">Matching tech talent with great volunteer
      opportunities.</h1>
  </div>

  <!-- Second Band (Image Left with Text) -->
</script>

<ng-include src="'header'" ng-controller="HeaderCtrl"></ng-include>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <ng-view></ng-view>
    </div>
  </div>
</div>
<ng-include src="'footer'"></ng-include>

<script type="text/ng-template" id="login">
  <div class="modal-dialog" ng-controller="LoginCtrl">
    <div class="modal-content">
      <form name="loginForm" class="form-horizontal" novalidate="novalidate"
            style="margin-bottom: 0;"
            ng-submit="login()">
        <div class="modal-header"><h4>Login</h4></div>
        <div class="modal-body">
          <div class="control-group">
            <label class="control-label" for="username">Username:</label>

            <div class="controls">
              <input type="text" tabindex="1" ng-required="true"
                     ng-model="credentials.username"
                     placeholder="username" autofocus
                     id="username"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">Password:</label>

            <div class="controls">
              <input type="password" tabindex="2"
                     ng-required="true"
                     ng-model="credentials.password"
                     placeholder="password"
                     id="password"/>
            </div>
          </div>
          <div class="row-fluid" style="margin-top:20px; display: none;"
               ng-show="failedLogin"
               ng-animate="{show: 'fade-show', hide: 'fade-hide'}">
            <div class="span12">
              <div class="alert alert-error">
                Invalid username or password.
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <div class="row-fluid">
            <div class="span6 text-left">
              <a class="btn"
                 ng-click="forgot()">Forgot?
              </a>
            </div>
            <div class="span6 text-right">
              <ladda-button ladda="loginProgress" tabindex="3"
                            class="btn"
                            ng-class="{disabled: !credentials.username || !credentials.password}">
                Login
              </ladda-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</script>

</body>
</html>
